.box1{
    background-color: pink;
    padding:18px ;
    margin:20px ;
    border: 2px solid blue;
}

.box2{
    background-color: lightblue;
    padding: 10px;
    margin: 20px;
    border: 2px solid purple
}

.box3{
    background-color: burlywood;
    padding: 15px;
    margin: 30px;
    border: 2px solid brown ;
}